<header tuiNavigationHeader>
  <span tuiNavigationLogo>
    <tui-icon icon="@tui.home" />
    <span tuiFade>Join CRUD Challenge</span>
  </span>
  <button
    tuiButton
    tuiChevron
    tuiDropdownOpen
    appearance="secondary-grayscale"
    type="button"
    [tuiDropdown]="entities"
  >
    <span tuiFade>Entities</span>
    <!-- TODO: traverse an array of entities -->
    <ng-template #entities>
      <tui-data-list size="s">
        <button
          tuiOption
          type="button"
        >
          Products
          <tui-icon
            icon="@tui.check"
            [style.font-size.em]="1"
            [style.margin-left.rem]="0.5"
          />
        </button>
        <button
          tuiOption
          type="button"
        >
          Categories
        </button>
      </tui-data-list>
    </ng-template>
  </button>
  <hr />
  <tui-avatar src="AI" />
</header>
<div [style.display]="'flex'">
  <main tuiNavigationMain>
    <nav
      tuiNavigationNav
      [style.position]="'sticky'"
    >
      <span tuiNavigationLogo>
        <span tuiFade>Products</span>
      </span>
    </nav>
    <!-- TODO: traverse paginated list of products, search filter -->
    <div
      *tuiRepeatTimes="let index of 10"
      tuiAppearance="floating"
      tuiCardLarge
      tuiHeader
    >
      <h2 tuiTitle>
        Some random content
        <span tuiSubtitle>Subtitle</span>
      </h2>
    </div>
  </main>
</div>
